.header {
  &_container {
    padding: 1em;
    border: 1px solid steelblue;
    display: flex;
    flex-direction: column;

    &_search-login {
      display: flex;
      justify-content: space-between;
      
      .search_box, .login_box, .locale_box {
        display: flex;
        justify-content: center;
        width: 30%;
        height: 30px;
        border: 1px solid steelblue;
      }
    }
  }
}